td{
  background-color:  black;
  height: 200px;
  width: 100px;
}

.art{
background-color: :black;
height: : 300px;
width: 150px;
}

#one{
  background-color: red;
}

#two{
  background-color: blue;
}
